/* body {
    background: #000;
    color: #FFF;
} */

body{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.forms-componentes{
    padding: 18px;
}

/* *{
    margin=0;
    padding=0;
    box-sizing= border-box;
} */

.container{
    max-width: 600px;
    background: white;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,0.1);
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #777c4b;
    color: black;
}

.add{
    text-decoration: none;
    width: 30px;
    height: 30px;
    background: #5ab07a;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Dynamic class creation */

.flex{
    display: flex;
    gap: 1.5em;
    margin-bottom: 20px;
}

.delete{
    text-decoration: none;
    display: inline-block;
    background: #a52b2b;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input{
    padding: 8px 10px;
    background: #ddd;
    border: none;
    width: 50%;
    border-radius: 5px;
}

input:focus{
    outline: 1px solid #efefef;

}
